[colors.primary]
background = '{{ .Colors.Primary.Background.Hex }}'
foreground = '{{ .Colors.Primary.Foreground.Hex }}'

[colors.cursor]
text   = '{{ .Colors.Cursor.Text.Hex }}'
cursor = '{{ .Colors.Cursor.Cursor.Hex }}'

[colors.normal]
black   = '{{ .Colors.Normal.Black.Hex }}'
red     = '{{ .Colors.Normal.Red.Hex }}'
green   = '{{ .Colors.Normal.Green.Hex }}'
yellow  = '{{ .Colors.Normal.Yellow.Hex }}'
blue    = '{{ .Colors.Normal.Blue.Hex }}'
magenta = '{{ .Colors.Normal.Magenta.Hex }}'
cyan    = '{{ .Colors.Normal.Cyan.Hex }}'
white   = '{{ .Colors.Normal.White.Hex }}'

[colors.bright]
black   = '{{ .Colors.Bright.Black.Hex }}'
red     = '{{ .Colors.Bright.Red.Hex }}'
green   = '{{ .Colors.Bright.Green.Hex }}'
yellow  = '{{ .Colors.Bright.Yellow.Hex }}'
blue    = '{{ .Colors.Bright.Blue.Hex }}'
magenta = '{{ .Colors.Bright.Magenta.Hex }}'
cyan    = '{{ .Colors.Bright.Cyan.Hex }}'
white   = '{{ .Colors.Bright.White.Hex }}'

[colors.selection]
background = '{{ .Colors.Selection.Background.Hex }}'
text       = '{{ .Colors.Selection.Text.Hex }}'
