---
name: '{{ .SchemeName }}'
author: '{{ .Author }}'
variant: 'light'

color_01: '{{ .Color01.Hex }}'	# Black (Host)
color_02: '{{ .Color02.Hex }}'	# Red (Syntax string)
color_03: '{{ .Color03.Hex }}'	# Green (Command)
color_04: '{{ .Color04.Hex }}'	# Yellow (Command second)
color_05: '{{ .Color05.Hex }}'	# Blue (Path)
color_06: '{{ .Color06.Hex }}'	# Magenta (Syntax var)
color_07: '{{ .Color07.Hex }}'	# Cyan (Prompt)
color_08: '{{ .Color08.Hex }}'	# White

color_09: '{{ .Color09.Hex }}'	# Bright Black
color_10: '{{ .Color10.Hex }}'	# Bright Red (Command error)
color_11: '{{ .Color11.Hex }}'	# Bright Green (Exec)
color_12: '{{ .Color12.Hex }}'	# Bright Yellow
color_13: '{{ .Color13.Hex }}'	# Bright Blue (Folder)
color_14: '{{ .Color14.Hex }}'	# Bright Magenta
color_15: '{{ .Color15.Hex }}'	# Bright Cyan
color_16: '{{ .Color16.Hex }}'	# Bright White

background: '{{ .Background.Hex }}'	# Background
foreground: '{{ .Foreground.Hex }}'	# Foreground (Text)

cursor: '{{ .Cursor.Hex }}'	# Cursor
