<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Ansi 0 Color</key>
    {{ indent .Ansi0.ToITermXML "\t" }}
    <key>Ansi 1 Color</key>
    {{ indent .Ansi1.ToITermXML "\t" }}
    <key>Ansi 2 Color</key>
    {{ indent .Ansi2.ToITermXML "\t" }}
    <key>Ansi 3 Color</key>
    {{ indent .Ansi3.ToITermXML "\t" }}
    <key>Ansi 4 Color</key>
    {{ indent .Ansi4.ToITermXML "\t" }}
    <key>Ansi 5 Color</key>
    {{ indent .Ansi5.ToITermXML "\t" }}
    <key>Ansi 6 Color</key>
    {{ indent .Ansi6.ToITermXML "\t" }}
    <key>Ansi 7 Color</key>
    {{ indent .Ansi7.ToITermXML "\t" }}
    <key>Ansi 8 Color</key>
    {{ indent .Ansi8.ToITermXML "\t" }}
    <key>Ansi 9 Color</key>
    {{ indent .Ansi9.ToITermXML "\t" }}
    <key>Ansi 10 Color</key>
    {{ indent .Ansi10.ToITermXML "\t" }}
    <key>Ansi 11 Color</key>
    {{ indent .Ansi11.ToITermXML "\t" }}
    <key>Ansi 12 Color</key>
    {{ indent .Ansi12.ToITermXML "\t" }}
    <key>Ansi 13 Color</key>
    {{ indent .Ansi13.ToITermXML "\t" }}
    <key>Ansi 14 Color</key>
    {{ indent .Ansi14.ToITermXML "\t" }}
    <key>Ansi 15 Color</key>
    {{ indent .Ansi15.ToITermXML "\t" }}

    <key>Background Color</key>
    {{ indent .Background.ToITermXML "\t" }}
    <key>Foreground Color</key>
    {{ indent .Foreground.ToITermXML "\t" }}
    <key>Bold Color</key>
    {{ indent .Bold.ToITermXML "\t" }}
    <key>Cursor Color</key>
    {{ indent .Cursor.ToITermXML "\t" }}
    <key>Cursor Text Color</key>
    {{ indent .CursorText.ToITermXML "\t" }}
    <key>Cursor Guide Color</key>
    {{ indent .CursorGuide.ToITermXML "\t" }}
    <key>Link Color</key>
    {{ indent .Link.ToITermXML "\t" }}
    <key>Selected Text Color</key>
    {{ indent .SelectedText.ToITermXML "\t" }}
    <key>Selection Color</key>
    {{ indent .Selection.ToITermXML "\t" }}
</dict>
</plist>
