{
  "name": "{{ .SchemeName }}",
  "black": "{{ .Black.Hex }}",
  "red": "{{ .Red.Hex }}",
  "green": "{{ .Green.Hex }}",
  "yellow": "{{ .Yellow.Hex }}",
  "blue": "{{ .Blue.Hex }}",
  "purple": "{{ .Purple.Hex }}",
  "cyan": "{{ .Cyan.Hex }}",
  "white": "{{ .White.Hex }}",
  "brightBlack": "{{ .BrightBlack.Hex }}",
  "brightRed": "{{ .BrightRed.Hex }}",
  "brightGreen": "{{ .BrightGreen.Hex }}",
  "brightYellow": "{{ .BrightYellow.Hex }}",
  "brightBlue": "{{ .BrightBlue.Hex }}",
  "brightPurple": "{{ .BrightPurple.Hex }}",
  "brightCyan": "{{ .BrightCyan.Hex }}",
  "brightWhite": "{{ .BrightWhite.Hex }}",
  "background": "{{ .Background.Hex }}",
  "foreground": "{{ .Foreground.Hex }}",
  "selectionBackground": "{{ .SelectionBackground.Hex }}",
  "cursorColor": "{{ .CursorColor.Hex }}"
}
